# AWS CLI Installer
aws/
awscliv2.zip

# Keys & Secrets
*.pem
*.key
.env
.env.*

# Logs
*.log

# Python cache
__pycache__/
*.pyc
# Ignore Vim swap files
*.swp
*.swo
*.swn

# local/dev
.env
*.swp
*.swm
